header nav img {
  max-width: 100%;
  height: 60px;
}
header nav ul {
  display: flex;
  align-items: center;
}
header nav ul li:first-child {
  margin-right: 60px;
}
header nav ul li {
  list-style: none;
  display: inline;
  margin-left: 20px;
}
header #jumbotron {
  height: 400px;
  background-image: url(../images/jumbotron.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  background-color: #1c1c1c;
  padding: 50px 0 0 0;
}
.wrapper .cards {
  display: flex;
  flex-wrap: wrap;
}
.wrapper .cards .card {
  flex-basis: 15%;
  margin-left: 20px;
}
.wrapper .cards .card img {
  width: 180px;
  height: 180px;
}
.wrapper .cards .card h4 {
  color: #fff;
  text-transform: uppercase;
}
.wrapper a {
  background-color: #0282f9;
  padding: 8px 18px;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
}
.wrapper .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 30px 0;
  background-color: #0282f9;
  margin-top: 50px;
}
.wrapper .menu .menu-card {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  margin-right: 60px;
}
.wrapper .menu .menu-card h4 {
  margin-left: 10px;
}
.wrapper .menu .menu-card img {
  height: 40px;
}

.footer-list {
  height: 400px;
  background-image: url(../images/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
.footer-list .footer-list-cont:last-child {
  background-image: url(../images/dc-logo-bg.png);
  background-repeat: no-repeat;
  background-position: center;
}
.footer-list .fotter-list-cont {
  flex-basis: 50%;
}

.footer-icons {
  background-color: #303030;
}
.footer-icons nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.footer-icons ul {
  display: flex;
  align-items: center;
}
.footer-icons li {
  list-style-type: none;
  padding: 20px 10px;
}
.footer-icons li a {
  color: #0282f9;
  font-weight: 600;
  text-decoration: none;
}
.footer-icons img {
  font-size: 30px;
}
.footer-icons .btn-sign p {
  border: 1px solid #0282f9;
  padding: 7px;
  cursor: pointer;
  color: #fff;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.bg-blue {
  height: 50px;
  background-color: #0282f9;
}

.bg-white .info {
  display: flex;
  justify-content: center;
}
.bg-white .info .desc {
  flex-basis: 70%;
}
.bg-white .info .desc h2 {
  color: #0282f9;
}
.bg-white .info .desc .banner {
  height: 50px;
  background-color: #55ba59;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bg-white .info .desc .banner .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  flex-grow: 1;
}
.bg-white .info .desc .banner .check {
  padding: 0 20px;
  border-left: 1px solid black;
}
.bg-white .info img {
  height: 200px;
  width: 200px;
}
.bg-white .spec {
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
}
.bg-white .spec h3 {
  color: #0282f9;
}
.bg-white .spec .talent,
.bg-white .spec .spec-series {
  flex-basis: 50%;
}
.bg-white .spec .talent .name,
.bg-white .spec .spec-series .name {
  flex-basis: 30%;
}
.bg-white .spec .names {
  color: #0282f9;
}
.bg-white .spec .talent .arts,
.bg-white .spec .talent .writers {
  display: flex;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}