header nav img {
  max-width: 100%;
  height: auto;
}
header nav ul {
  display: flex;
  align-items: center;
}
header nav ul li {
  list-style: none;
  display: inline;
  margin-left: 20px;
}

.container {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
}